:root {
  --primary: #000;
  --secondary: #0ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #fff;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

// here css masry
.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
}